<div class="container mt-5">
  <div class="row">
    <!-- ジャンル検索 -->
    <div class="col-md-3 mb-4 mt-1">
      <%= render "user/searches/genre_search", genres: @genres %>
    </div>
    
    <div class="col-md-9">
      <div class="album bg-body-tertiary">
        <div class="container">
          <div class="text-center">
            <h2 class="d-inline">"<%= @keyword %>"の検索結果</h2>
            <span class="m-3 mb-0">(全<%= @results.count %>件)</span>
          </div>
          <hr class="heading-line">
          
          <% if @results.any? %>
            <%= render "user/posts/post_index", posts: @results %>
          <% else %>
            <div class="text-center mt-5 mb-5">
              <p>投稿はありません</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>