<div class="container mt-5 px-1 py-2">
  <h2 class="text-center mb-4">いいね一覧</h2>
  <hr class="heading-line mb-4">
    <% if @likes.any? %>
      <ul>
        <% @likes.each do |like| %>
          <% post = like.post %>
            <div class="album bg-body-tertiary">

              <%= render "user/posts/post_index", posts: [post] %>
            </div>
        <% end %>
      </ul>
    <% else %>
      <p>いいねした投稿はまだありません。</p>
    <% end %>
</div>