<div class="container px-1 py-2">
  <div class="row mt-5">
    <% if @type === "posts" %>
      <h2>"<%= @keyword %>"に一致する投稿</h2>
      <hr class="heading-line">
      <%= render "admin/posts/index", posts: @results %>
    <% else %>
      <h2>"<%= @keyword %>"に一致するユーザー</h2>
      <hr class="heading-line">
      <%= render "admin/users/index", users: @results %>
    <% end %>
  </div>
  
</div>