<div class="py-5 text-center container">
  <h2 class="fw-light">ジャンル一覧</h2>
  <hr class="heading-line mb-4">
  <div class="d-flex justify-content-end mb-4">
    <div class="btn-group" role="group" aria-label="Sort options">
      <%= link_to '投稿数順', admin_genres_path(sort: 'posts_count'), class: "btn btn-outline-primary" %>
      <%= link_to '名前順', admin_genres_path(sort: 'name'), class: "btn btn-outline-primary" %>
    </div>
  </div>

  <div class="row mt-4">
    <% @genres.each do |genre| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
        <div class="card shadow-sm pt-2">
          <h5 class="card-title">
            <%= link_to truncate(genre.name, length: 10), edit_admin_genre_path(genre), class: "text-dark" %>
            <span class="badge bg-primary rounded-pill"><%= genre.posts.count %></span>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
</div>