<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>投稿一覧</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <div class="table-responsive">
        <table class="table table-hover table-bordered text-center">
          <thead>
            <tr class="table-active">
              <th>投稿ID</th>
              <th>タイトル</th>
              <th>内容</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <% posts.each do |post| %>
              <tr>
                <td><%= post.id %></td>
                <td><%= link_to truncate(post.title, length: 10), admin_post_path(post.id), class: "link-style" %></td>
                <td><%= truncate(post.introduction, length: 15) %></td>
                <td><%= post.genre.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>