<div class="container px-1 py-2">
  <div class="row">
    <div class="col">
      <h2 class="my-5">マイページ</h2>
      <div class="d-flex align-items-center mb-2">
        <h3><strong>登録情報</strong></h3>
        <%= link_to "編集する", edit_user_registration_path, class: "btn btn-success ml-3" %>
      </div>
      <hr class="heading-line">
      <table class="table table-bordered mt-3">
        <tr>
          <td class="color-orange pointer-none">ニックネーム</td>
          <td><%= @user.name %></td>
        </tr>
      </table>
      <div class="row">
        <div class="d-flex align-items-center mt-3 mb-2">
          <h3><strong>投稿一覧</strong></h3>
          <%= link_to "一覧を見る", posts_path, class: "btn btn-success ml-4" %>
        </div>
        <hr class="heading-line">
        <div class="d-flex align-items-center mt-3 mb-2">
          <h3><strong>いいね一覧</strong></h3>
          <%= link_to "一覧を見る", posts_path, class: "btn btn-success ml-4" %>
        </div>
        <hr class="heading-line">
      </div>
    </div>
  </div>
</div>