<div class="container">
  <div class="bg-orange mt-5 mx-auto">
    <div class="row pt-5">
      <div class="col">
        <div class="d-flex justify-content-center">
          <h3><strong>本当に退会しますか？</strong></h3>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <h4 class="d-flex justify-content-center text-center">
          退会すると、同じメールアドレスで再登録することや</br>
          質問や回答などができなくなります。</br>
          退会する場合は、「退会する」をクリックしてください
        </h4>
      </div>
    </div>
    <div class="row pt-5 justify-content-center">
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <%= link_to '退会しない', my_page_path, class: "btn btn-success w-50" %>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-start">
          <%= link_to '退会する', users_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger w-50" %>
        </div>
      </div>
    </div>
  </div>
</div>
