@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Kiwi+Maru&family=Yomogi&display=swap');

/* headerの背景色 */
header.shadow-sm {
  background-color: #726250;
}

// top page 新規登録・ログインボタン
.btn-sign-up{
    background-color: #F08080;
    border-color: #F08080;
}

.btn-login,
.btn-posts ,
.btn-back{
    background-color: #726250;
    border-color: #726250;
}

/* Optional: Change the text color if needed */
.btn-sign-up,
.btn-login,
.btn-posts,
.btn-back{
    color: white !important;
}

/* Optional: Change hover effects to match the button colors */
.btn-sign-up:hover{
    background-color: #e06b6b;
    border-color: #e06b6b;
}

.btn-login:hover,
.btn-posts:hover,
.btn-back:hover{
    background-color: #5f5240;
    border-color: #5f5240;
}

/* ユーザーログイン時、ヘッダーに表示される文字の色 */
header.shadow-sm .navbar-text{
  color: white; 
}
/* ナビゲーションリンクや検索アイコンの文字色 */

header.shadow-sm .search .fas,
header.shadow-sm .nav-item .nav-link:hover,
header.shadow-sm .search input[type="text"]::placeholder{
  color: #F08080; /*ピンク*/
}

header.shadow-sm .nav-item .nav-link{
  color: white;
}

.text-white {
  color: white;
}

/* トグルアイコンの色 */
header.shadow-sm .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Search button styles */
.search-button {
  background-color: #F08080;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #FF6347;
}

/* Icon inside the search button */
.search-button .fas {
  color: white;
}

.bg-image {
  background-image: url('../images/toppage_image.jpg');
  margin: 0;
  width: 100vw;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  background: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  max-width: 90%;
}

.btn-sign-up, .btn-login, .btn-guest-login {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .bg-image {
    height: 100%;
  }

  .content-wrapper {
    padding: 1rem;
  }

  .btn-sign-up, .btn-login, .btn-guest-login {
    display: block;
    margin: 0.5rem auto;
  }
}

@media (max-width: 480px) {
  .bg-image {
    height: 100%;
  }

  .content-wrapper {
    padding: 0.5rem;
  }

  h1.fw-light {
    font-size: 1.25rem;
  }

  p.lead {
    font-size: 0.875rem;
  }

  .btn-sign-up, .btn-login, .btn-guest-login {
    display: block;
    margin: 0.25rem auto;
    width: 90%;
  }
}




// ヘッダーのアイコン

.nav-icon {
  text-align: center;
  position: relative;
}

.nav-icon i {
  display: block;
  margin: 0 auto;
}

.nav-icon small {
  display: block;
  font-size: 0.8rem;
}

@media (max-width: 992px) {
  .nav-icon {
    text-align: left;
    display: flex;
    align-items: center;
  }

  .nav-icon i {
    display: inline-block;
    margin: 0 8px 0 0;
    font-size: 1.5rem;
  }

  .nav-icon small {
    display: inline-block;
    font-size: 1rem;
  }
}

.alert-mark {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5 !important;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5 !important;
    color: #726250;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

h2, p {
  color: #726250;
}

main {
    flex: 1;
}



.footer {
    background-color: #726250;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    color: white;
}



// マイページ　いいねに飛ぶリンク、新規投稿ボタン
.like_index_link {
  background-color: #F08080;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.like_index_link:hover {
  background-color: white;
  color: #F08080;
}

.custom-icon {
  font-size: 30px;
  color: #726250;
  transition: color 0.3s ease;
}

.custom-icon:hover {
  color: #F08080;
}

.custom-button {
  background-color: #FFFFFF; /* 白い背景 */
  color: #F08080; /* ピンクの文字 */
  border: 1px solid #F08080; /* ピンクの枠線 */
}

.custom-button:hover {
  background-color: #F08080; /* ピンクの背景 */
  color: #FFFFFF; /* 白い文字 */
  border-color: #F08080; /* ピンクの枠線 */
}


/*投稿のカード*/
.card {
  color: #726250 !important;
  padding: 5px;
}

.card .btn-outline-secondary {
  color: #726250;
  border-color: #726250;
}

.card .btn-outline-secondary:hover {
  background-color: #726250;
  color: white;
}

/* カスタムカードのスタイル */
.card-custom {
  color: #726250 !important;
  padding: 5px;
  height: 100%;
}


.card-custom .btn-outline-secondary {
  color: #726250;
  border-color: #726250;
}

.card-custom .btn-outline-secondary:hover {
  background-color: #726250;
  color: white;
}


/*ジャンルのサイドバー*/
/* ジャンルタイトル */
h4.text-center {
  color: #726250;
}

/* ジャンルリンクのスタイル */
.list-group-item a {
  color: #726250 !important;
}

/* ジャンルリンクのホバースタイル */
.list-group-item a:hover {
  // text-decoration: none;
}

/* ジャンルリンクのバッジのスタイル */
.badge.bg-primary {
  background-color: #F08080 !important;
  color: #726250;
}


/*一覧画面の新しい順、古い順、評価準のボタンの色*/
.btn-outline-primary {
  color: #726250 !important;
  border-color: #726250 !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff !important;
  background-color: #726250 !important;
  border-color: #726250 !important;
}

.btn-outline-primary:active {
  color: #fff !important;
  background-color: #726250 !important;
  border-color: #726250 !important;
}

.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 128, 128, 0.5) !important;
}

/*いいねのハート*/
.like-link .fa-heart,
.like-link .like-count {
  color: #e42f3c !important;
}


.card-text__introduction {
    height: 2.5rem;
    overflow: hidden;
}

.form-container {
    background-color: white;
}




// ページネーション
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination .page-item {
  list-style: none;
}

.pagination .page-link {
  color: #FFF;
  background-color: #726250;
  border: 1px solid #726250;
  border-radius: 50%;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  line-height: 35px; /* Ensures the text is vertically centered */
}

.pagination .page-link:hover {
  background-color: #F08080;
  color: #FFF;
}

.pagination .page-item.active .page-link {
  background-color: #F08080;
  color: #FFF;
  border-color: #F08080;
}

.pagination .page-link:focus {
  box-shadow: none;
}

.pagination .page-item.disabled .page-link {
  background-color: #e9ecef;
  color: #6c757d;
  border-color: #dee2e6;
}


// マイページ編集ユーザー画像
.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


// 通知一覧
.notification-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.notification-box h1 {
  font-size: 1.75rem;
  color: #726250;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #eee;
  padding: 15px 10px;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item .text-dark:hover {
  text-decoration: underline;
}

.btn-secondary {
  background-color: #726250;
  border-color: #726250;
}

.btn-secondary:hover {
  background-color: #5e4c3b;
  border-color: #5e4c3b;
}





// コメントのレイアウト
.comment-user-info {
  display: flex;
  align-items: center;
}

.comment-user-image {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.comment-user-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}


