

<div class="container text-center">
  <h3 class="display-4">Cook Hintについて</h3>
  <p class="lead">料理に関する悩みを解消</p>

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <p>お菓子作りが好きで、シフォンケーキを焼くことが多いのですが、レシピ通りに作っても少しの加減で、上手くシフォンケーキが膨らまない時もあり、何故だろうと頭を悩ませていました。</p>
      <p>身近に相談できる相手がいないため、何故失敗したのかアドバイスをもらえるサイトがあれば便利だと考え作成しました。</p>
      <p>また、料理初心者の方がレシピ通り作ってみても、どうしても失敗してしまうという事や、子育て中の方で子供が好き嫌いをして食べてくれない食材があるなど、料理の失敗だけでなく、料理に対して様々な悩みがある方の助けとなる場となるようなサイト運営を目指します。</p>
    </div>
  </div>
</div>