<div class="container text-center mt-5">
  <h2 class="display-4">Cook Hintについて</h2>
  <p class="lead">料理に関する悩みを解消</p>

  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-8">
      <div class="text-muted">
        <p>お菓子作りが好きで、シフォンケーキを焼くことが多いのですが、レシピ通りに作っても少しの加減で、上手くシフォンケーキが膨らまない時もあり、何故だろうと頭を悩ませていました。</p>
      </div>
      <div class="text-muted mt-4">
        <p>身近に相談できる相手がいないため、何故失敗したのかアドバイスをもらえるサイトがあれば便利だと考え作成しました。</p>
      </div>
      <div class="text-muted mt-4">
        <p>また、料理初心者の方がレシピ通り作ってみても、どうしても失敗してしまうという事や、子育て中の方で子供が好き嫌いをして食べてくれない食材があるなど、料理の失敗だけでなく、料理に対して様々な悩みがある方の助けとなる場となるようなサイト運営を目指します。</p>
      </div>
      <div class="text-center mt-4">
        <%= image_tag("cooking.jpg", alt: "Cooking Image ", class: "img-fluid") %>
      </div>
    </div>
  </div>
</div>
