<% if user_signed_in? || admin_signed_in? %>
<div class="pt-5 text-center container">
  <h2 class="fw-light">新着投稿一覧</h2>
  <hr class="heading-line mb-4">
</div>

<%= render "user/posts/post_index4", posts: @posts %>

<div class="text-center py-3">
  <%= link_to "投稿一覧へ", posts_path, class: "btn btn-posts" %>
</div>

<% else %>
<div class="bg-image">
  <div class="content-wrapper">
    <h1 class="fw-light">Cook Hintへようこそ！！</h1>
    <p class="lead text-body-secondary">質問・相談・回答を行う場合は、登録が必要です。</p>
    <div>
      <a href="/users/sign_up" class="btn btn-primary mx-2 btn-sign-up">新規登録</a>
      <a href="/users/sign_in" class="btn btn-secondary mx-2 btn-login">ログイン</a>
    </div>
    <div>
      <%= link_to "ゲストログイン(投稿閲覧のみ)", user_guest_sign_in_path, class: "btn btn-outline-secondary mx-2 btn-guest-login", method: :post %>
    </div>
  </div>
</div>

<% end %>



