<div class="album py-5 bg-body-tertiary bg-image">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <!--<div class="bg-white bg-opacity-75 p-3 rounded justify-content-center align-items-center">-->
        <!--  <h1 class="fw-light">Cook Hintへようこそ！！</h1>-->
        <!--  <p class="lead text-body-secondary">こちらのサイトは、料理の失敗や悩みを投稿し、他のユーザーからアドバイスをもらうことのできる、ユーザー同士で経験や知識を共有するコミュニティサイトです。</p>-->
        <!--</div>-->
      </div>
    </div>
  </section>
</div>

  <div class="py-5 text-center container">
  <h1 class="fw-light">新着投稿一覧</h1> 
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @posts.each do |post| %>
        <div class="col my-3">
          <div class="card shadow-sm" style="padding: 10px;">
            <%= image_tag post.image, class: "card-img-top img-fluid", alt: "Thumbnail" %>
            <div class="card-body">
              <p class="card-text"><%= post.title %></p>
              <p class="card-text"><%= post.introduction %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", post_path(post), class: "btn btn-sm btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>