/* headerの背景色 */
header.shadow-sm {
  background-color: #726250;
}

/* ユーザーログイン時、ヘッダーに表示される文字の色 */
header.shadow-sm .navbar-text{
  color: #FFD700; /*黄色*/
}
/* ナビゲーションリンクや検索アイコンの文字色 */
header.shadow-sm .nav-item .nav-link,
header.shadow-sm .search .fas {
  color: #F08080; /*ピンク*/
}

/*ホバーしたときに変わるわる色*/
header.shadow-sm .nav-item .nav-link:hover{
  color: white; 
}

/* 検索フィールドのプレースホルダーの色 */
header.shadow-sm .search input[type="text"]::placeholder {
  color: #F08080;
}

/* トグルアイコンの色 */
header.shadow-sm .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

/* Search button styles */
.cute-search-button {
  background-color: #F08080;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cute-search-button:hover {
  background-color: #FF6347;
}

/* Icon inside the search button */
.cute-search-button .fas {
  color: white;
}

.bg-image {
  margin: 0;
  width: 100vw;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('スムージー1.jpg');
}

@media (max-width: 768px) {
  .bg-image {
    height: 50vh;
  }
}



html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #edddc9;
}

main {
    flex: 1;
}

.container {

}

.footer {
    background-color: #726250;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
    color: white;
}