/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.bg-image {
  margin: 0;
  width: 100vw;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('スムージー1.jpg'); 
}

@media (max-width: 768px) {
  .bg-image {
    height: 50vh; 
  }
}



html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    padding-bottom: 50px; /* 下側に50pxの余白 */
  }

.footer {
    background-color: #ffffe0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

