<h1>通知</h1>

<% @notifications.each do |notification| %>
  <div class="notification">
    <p><%= notification.message %></p>
    <%= link_to '既読にする', mark_as_read_notification_path(notification), method: :patch %>
  </div>
<% end %>