
<% if notice %>
  <div class="alert alert-success d-flex justify-content-center">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="flash alert-danger d-flex justify-content-center">
    <%= alert %>
  </div>
<% end %>


