<% if notice %>
  <div class="alert alert-success d-flex justify-content-center" style="margin-bottom: 0;">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="flash alert-danger d-flex justify-content-center" style="margin-bottom: 0;">
    <%= alert %>
  </div>
<% end %>


