<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      
        <a class="navbar-brand" href="/"><%= image_tag('logo.png', style: "max-height: 100px; width: auto;") %></a>
      
      <!-- search -->
      <%= render 'layouts/h-search'%>
      <!-- menu  -->
      <%= render 'layouts/h-menu'%>
    </div>
  </nav>
</header>



