<div class="bg-light p-3 rounded">
  <h4 class="text-center mb-4">ジャンル</h4>
  <ul class="list-group">
    <% @genres.each do |genre| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="bi bi-bookmark-fill me-2"></i>
        <%= link_to genre.name, posts_path(genre_id: genre.id), class: "text-dark" %>
        <span class="badge bg-primary rounded-pill"><%= genre.posts.count %></span>
      </li>
    <% end %>
  </ul>
  

</div>

